.files-wrapper{
    margin-left: 20px;
}
.files-btn{
    display: flex;
    justify-content: space-between;

    width: 300px;
    margin-top: 30px;
}
.files-btn__create-folder{
    margin-left: 20px;
}